<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.olivetheory">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:name=".util.OliveTheoryApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OliveTheoryApp"
        tools:targetApi="31">
        <!-- MainActivity -->
        <activity
            android:name=".gui.usermanagment.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity android:name=".gui.usermanagment.LogOutActivity" />
        <activity android:name=".gui.usermanagment.SignUpActivity" />
        <activity android:name=".gui.usermanagment.LoginActivity" />
        <activity android:name=".gui.mainactivities.MenuActivity" />
        <activity android:name=".gui.mainactivities.CalendarActivity" />
        <activity
            android:name=".gui.mainactivities.WeatherActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".gui.mainactivities.ProblemsActivity"/>
        <activity android:name=".gui.mainactivities.MessageActivity" />
        <activity android:name=".gui.mainactivities.ChatListActivity" />
        <activity android:name=".gui.mainactivities.ForumActivity" />
        <activity android:name=".gui.mainactivities.ForumListActivity" />
        <activity android:name=".gui.usermanagment.UserProfile" />
        <activity android:name=".gui.mainactivities.SavedLocationsActivity" />
        <activity android:name=".gui.mainactivities.HistoryWorkActivity" />
        <activity android:name=".gui.mainactivities.WeatherSavedLocations"/>
        <activity
            android:name=".gui.mainactivities.MapsActivity"
            android:label="@string/activity_maps" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>